<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
  
        <!-- Linkedin -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/richard-tarassov-aa25bb22b/"
          role="button"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/rtarassov"
          role="button"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Made by Richard Tarassov using 
      <a class="text-dark" href="https://mdbootstrap.com/" target="_blank">© 2020 Copyright: MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>