<main class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div
    class="bg-image hover-overlay ripple shadow-1-strong rounded"
    data-mdb-ripple-color="light"
  >
    <img src="https://c8.alamy.com/comp/2J3AJ0F/car-service-icon-vehicle-maintenance-auto-repair-or-mechanic-garage-automobile-repair-shop-or-automotive-workshop-isolated-vector-symbol-with-black-car-and-orange-gear-wheel-silhouettes-2J3AJ0F.jpg" class="w-100" />
    <a href="https://c8.alamy.com/comp/2J3AJ0F/car-service-icon-vehicle-maintenance-auto-repair-or-mechanic-garage-automobile-repair-shop-or-automotive-workshop-isolated-vector-symbol-with-black-car-and-orange-gear-wheel-silhouettes-2J3AJ0F.jpg" target="_blank">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
    </a>
  </div>
        </div>
        <div class="col-md-7">
          <h1 class="my-3">Tire change workshop</h1>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">London workshop</h5>
              <p class="card-text">1A Gunton Rd, London</p>
              <button type="button" class="btn btn-outline-primary btn-rounded"><a routerLink="/london"><i class="fas fa-car me-2"></i>Go to London workshop</a></button>
            </div>
          </div>
          <hr/>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manchester workshop</h5>
              <p class="card-text">14 Bury New Rd, Manchester</p>
              <button type="button" class="btn btn-outline-primary btn-rounded"><a routerLink="/manchester"><i class="fas fa-car me-2"></i>Go to London workshop</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>