<div class="my-5">
    <div class="container">
        <div class="row">
            <form [formGroup]="formData" (ngSubmit) = "onClickSubmit(formData.value)">
            <div class="col-md-2">
                <p>From <input type="date" name="dateFrom" formControlName="dateFrom"></p>
            </div>
            <div class="col-md-2">
                <p>Until <input type="date" name="dateUntil" formControlName="dateUntil"></p> 
            </div>
                <input type="submit" class="btn btn-outline-primary btn-rounded" value="Search">
            </form>
        </div>
        <p>
            Date range entered is: {{dateFrom}} - {{dateUntil}}
        </p>
    </div>
</div>